---
import Navbar from "../server-components/Navbar.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="About" description="About Page">
  <Navbar />
  <h1 class:list={["mt-8", "text-2xl font-semibold"]}>About</h1>
</BaseLayout>
