---
import Navbar from "../server-components/Navbar.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Home" description="Home Page">
  <Navbar />
  <h1 class:list={["mt-8", "text-2xl font-semibold"]}>Home</h1>
</BaseLayout>
